<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(function(){
            $("#navbar").load("../include/navbar.html"); 
        });
    </script>
    <link rel="stylesheet" href="../styles/unanswered.css">
</head>
<body>
    <div id="navbar"></div>
    <div class="rectangle"></div>
    <div class="rectanglee"></div>
    <div class="rectangle2"></div>
    <div class="rectangle3"></div>
    <div class="rectangle4"></div>
    <div class="rectangle5"></div>
    <div class="rectangle6"></div>

    <div class="wrap">
        <div class="search">
           <input type="text" class="searchTerm" placeholder="What are you looking for?">
           <button type="submit" class="searchButton"> Search
             <i class="fa fa-search"></i>
          </button>
        </div>
     </div>
     <h1 id="topic-title">Topic Title</h1>
     <h1 id="Answer">Answer</h1>

     <div id="ask-question">Find unanswered threads</div>
     <figure class="image-figure">
         <img class="author-image circle" src="../assets/profile.png" alt="Devan Valencio - Author">
         <figcaption>
             <div class="author-title">KEPALA SAKIT AKIBAT BEGADANG</div>
             <div class="author-title">Devan Valencio &#8212; 10 years ago</div>
         </figcaption>
         <p1>Vote : 21</p1>
         <p11>Views : 98</p11>
         <p111>-</p111>
     </figure>
     <figure class="image-figure">
        <img class="author-image circle" src="../assets/profile.png" alt="Devan Valencio - Author">
        <figcaption>
            <div class="author-title">MIGRAIN SAKIT KEPALA MEMBELIT</div>
            <div class="author-title">Devan Valencio &#8212; 2 months ago</div>
        </figcaption>
        <p2>Vote : 2</p2>
        <p22>Views : 6</p22>
        <p222>-</p222>
    </figure>
    <figure class="image-figure">
        <img class="author-image circle" src="../assets/profile.png" alt="Devan Valencio - Author">
        <figcaption>
            <div class="author-title">BADAN PANAS MUNTAH MUNTAH</div>
            <div class="author-title">Devan Valencio &#8212; 2 years ago</div>
        </figcaption>
        <p3>Vote : 12</p3>
        <p33>Views : 94</p33>
        <p333>-</p333>
    </figure>
    <figure class="image-figure">
        <img class="author-image circle" src="../assets/profile.png" alt="Devan Valencio - Author">
        <figcaption>
            <div class="author-title">MAAG KRONIS MENYIKSA PERUT</div>
            <div class="author-title">Devan Valencio &#8212; 7 years ago</div>
        </figcaption>
        <p4>Vote : 23</p4>
        <p44>Views : 87</p44>
        <p444>-</p444>
    </figure>
    <figure class="image-figure">
        <img class="author-image circle" src="../assets/profile.png" alt="Devan Valencio - Author">
        <figcaption>
            <div class="author-title">INSOMNIA TIDUR DIMALAM HARI</div>
            <div class="author-title">Devan Valencio &#8212; 12 years ago</div>
        </figcaption>
        <p5>Vote : 67</p5>
        <p55>Views : 121</p55>
        <p555>-</p555>
    </figure>     
    <figure class="image-figure">
        <img class="author-image circle" src="../assets/profile.png" alt="Devan Valencio - Author">
        <figcaption>
            <div class="author-title">DARAH TINGGI KEPALA PUSING</div>
            <div class="author-title">Devan Valencio &#8212; 1 years ago</div>
        </figcaption>
        <p6>Vote : 78</p6>
        <p66>Views : 143</p66>
        <p666>-</p666>
    </figure>
    

     
     
