<!DOCTYPE html>
<html>
<head>
	<title>About Page</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
    $(function(){
        $("#navbar").load("../include/navbar.html"); 
    });
    </script>
  	<link rel="shortcut icon" href="../assets/Icon.png" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../styles/about.css">
</head>
<body>
    <div id="navbar"></div>
    <div class="about-container">
        <img src="../assets/logo-color.png" alt="Company Logo" class="company-logo">
        <div class="company-info">
            <h2>We're a provider of Health Forum</h2>
            <p>WeHealthy is Digital Health that help people about healthcare through accesible, reliable, and information. WeHealthy have a commitment to help all people that have health issues.</p>
            <h2>Our History</h2>
            <div class="history">
                <p class="history-one">During the 5th semester, the founders of WeHealthy met in the Human and Computer Interaction course.</p>
                <p>Then they think about the product they will make. After that they created WeHealthy to help people that have health issues.</p>
            </div>
                
            <h2>Founder</h2>
            <p>Felix R J, Stephan C, Vincent A G M, Antonyous M A, Rheinhard S P S</p>
         
        </div>
    </div>
</body>
</html>