<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/forgot-password.css" type="text/css">
    <link rel="shortcut icon" href="assets/Icon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Overpass:wght@800&display=swap" rel="stylesheet">
    <title>WeHealthy - Forgot Password</title>
</head>
<body style="background-image: url(/assets/forgot-password-background.png);">
    <h1>FORGOT PASSWORD?</h1>
    <div class="forgot-password-form">   
        <p>Don't worry!</p>
        <div class="form-real">
            <p>We have sent you an OTP!</p>
            <p>OTP</p>
            <input type="text" name="email" id="email">
            <br>    
            <a href="forgot-password-3.html"><button type="submit" name="submit" id="submit" onclick="">Submit</button></a> 
        </div>
    </div> 
</body>
</html>