<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
    $(function(){
        $("#navbar").load("../include/navbar.html"); 
    });
    </script>
  	<link rel="shortcut icon" href="../assets/Icon.png" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="/styles/question.css">
</head>
<body>
    <div id="navbar"></div>
    <div class="container">
        <div class="rectangle">
            <img src="/assets/profile.png" alt="profile" class="user-image">
            <h2>Felix Rafael Junio</h2>
            <h1>Corona Virus</h1>
            <p class="clock">12:34 PM</p>
            <p class="question">halo saya ingin bertanya saya memiliki gejala sakit demam 38,6 derajat, batuk-batuk, flu berat, dan sakit kepala serta lemas. Saya sudah mengalami gejala sakit ini selama 3 hari. Apakah saya terkena Corona Virus? Namun saya sudah vaksin 3 kali</p>
            <div class="vote-buttons">
                <button class="upvote-btn">&#9650;</button>
                <button class="downvote-btn">&#9660;</button>
            </div>
        </div>

        <div class="Discussion"><h1>Discussion</h1></div>
        <div class="rectangle comment-box">
            <textarea placeholder="Add a comment..."></textarea>
            <div class="comment-options">
                <div class="formatting-options">
                    <button><b>B</b></button>
                    <button><i>I</i></button>
                    <button><u>U</u></button>
                </div>
                <button class="submit-comment-btn">Submit Comment</button>
            </div>
        </div>

        <div class="rectangle">
            <img src="/assets/profile.png" alt="profile" class="user-image">
            <h2 class="verif-doctor">Dr. Vincent Sp.D <span class="verif-logo">&#10004;</span></h2>
            <p class="clock">1:45 PM</p>
            <p class="answer">XBB adalah varian baru covid yang berasal dari mutasi varian Omicron. Varian XBB telah menyebar di lebih dari 35 negara, termasuk di Indonesia. Meski dikatakan mirip seperti flu biasa, virus ini ditengarai menjadi biang kerok meningkatnya kasus COVID-19 di Indonesia.Sejauh ini diketahui gejala Omicron XBB lebih ringan dibandingkan dengan varian lainnya. Bahkan kerap kali para penderitanya sering mengabaikan dan menganggapnya sebagai flu biasa. 
                <br></br>
                Inilah gejala Omicron XBB yang patut diwaspadai:
                <br></br>
                1. Demam
                <br></br>
                Mirip seperti gejala COVID-19 sebelumnya, varian Omicron XBB menimbulkan gejala demam. Rata-rata pasien dapat merasakan demam hingga sepuluh hari. Meski demikian, tidak semua penderita Covid XBB mengalami fase demam.
                <br></br>
                2. Batuk
                <br></br>
                Selain demam, gejala yang banyak dialami penderita Omicron XBB adalah batuk. Batuk yang dialami biasanya tidak berdahak dan hanya menimbulkan rasa gatal di tenggorokan. Gejala ini membaik dalam tiga sampai lima hari setelah dinyatakan positif.
                <br></br>
                3. Pilek
                <br></br>
                Pilek juga menjadi salah satu gejala yang sering muncul pada penderita Covid varian baru ini. Sayangnya memang gejala flu yang dialami sangat mirip dengan flu biasa. Hanya dengan swab antigen atau PCR, barulah bisa dipastikan.
                <br></br>
                4. Sakit Kepala
                <br></br>
                Sakit kepala juga sering dikeluhkan oleh penderita Covid terbaru XBB. Sakit kepala yang dialami terasa seperti tertekan, hilang-timbul, dan pusing. Pada dasarnya sakit kepala ini merupakan reaksi tubuh pada peradangan yang timbul akibat tubuh tengah melawan virus.
                <br></br>
                5. Lemas
                <br></br>
                Lemas seolah kehilangan tenaga menjadi gejala XBB selanjutnya. Hal ini terjadi karena otot-otot dan sendi terasa nyeri.
                <br></br>
                6. Mual, muntah, diare
                <br></br>
                Pada pasien covid 19 sebelumnya ditemukan gejala gangguan pada saluran pencernaan. Gangguan mual dan muntah bisa berasal dari tekanan psikologis seperti cemas dan stres. Obat antivirus dan obat-obatan yang mendukung penyembuhan pun dapat menyebabkan efek samping berupa diare.
                <br></br>
                7. Sesak napas
                <br></br>
                Beberapa penderita Covid XBB mungkin akan mengalami sesak napas. Berbeda dengan sesak napas asma atau alergi, gejala ini tentu berasal dari virus. Pada umumnya gejala ini akan berangsur membaik seiring dengan terbentuknya resistensi tubuh terhadap COVID-19.
                
                Apabila gejala sesak napas dirasa semakin berat, disertai dengan napas pendek, nyeri dada, bibir, wajah, dan kuku pucat kebiruan, sulit bangun atau terjaga, maka Anda disarankan untuk segera meminta bantuan medis.
                <br></br>
                8. Anosmia dan Ageusia
                <br></br>
                Jarang ditemukan penderita Covid XBB mengalami anosmia dan ageusia seperti pada varian Delta. Gejala ini justru lebih banyak ditemukan pada penderita Covid XBC. 
                <br></br>               
                Meski demikian tidak menutup kemungkinan penderita XBB mengalami anosmia dan ageusia. Anosmia adalah hilangnya kemampuan mencium aroma. Sementara ageusia adalah hilangnya kemampuan untuk mengecap.
                </p>
                <button class="like-button">&#x1F44D;300</button>
        </div>
        <div class="rectangle">
            <img src="/assets/profile.png" alt="profile" class="user-image">
            <h2>Devan Valencio</h2>
            <p class="clock">1:55 PM</p>
            <p class="answer">Terima kasih dokter informasinya</p>
            <button class="like-button">&#x1F44D;0</button>
        </div>
    </div>
</body>