<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
    $(function(){
        $("#navbar").load("../include/navbar.html"); 
    });
    </script>
  	<link rel="shortcut icon" href="../assets/Icon.png" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../styles/question.css">
</head>
<body>
    <div id="navbar"></div>
    <div class="container">
        <div class="rectangle">
            <img src="../assets/profile.png" alt="profile" class="user-image">
            <h2>Felix Rafael Junio</h2>
            <h1>Diabetes</h1>
            <p class="clock">12:34 PM</p>
            <p class="question">halo saya ingin bertanya saya memiliki gejala sakit sering merasa lelah padahal tidak melakukan aktivitas fisik, sering merasa haus padahal sudah minum cukup air, berat badan turun tanpa sebab yang jelas, rasa lapar yang terus menerus, sering buang air kecil, dan luka lama sulit sembuh. Apakah saya terkena sakit diabetes? </p>
            <div class="vote-buttons">
                <button class="upvote-btn">&#9650;</button>
                <button class="downvote-btn">&#9660;</button>
            </div>
        </div>

        <div class="Discussion"><h1>Discussion</h1></div>
        <div class="rectangle comment-box">
            <textarea placeholder="Add a comment..."></textarea>
            <div class="comment-options">
                <div class="formatting-options">
                    <button><b>B</b></button>
                    <button><i>I</i></button>
                    <button><u>U</u></button>
                </div>
                <button class="submit-comment-btn">Submit Comment</button>
            </div>
        </div>

        <div class="rectangle">
            <img src="../assets/profile.png" alt="profile" class="user-image">
            <h2 class="verif-doctor">Dr. Vincent Sp.D <span class="verif-logo">&#10004;</span></h2>
            <p class="clock">1:45 PM</p>
            <p class="answer">Diabetes adalah penyakit metabolik yang terjadi ketika terdapat kadar gula yang tinggi pada tubuh, namun tidak dapat dipergunakan secara maksimal oleh tubuh. Diabetes adalah kondisi yang termasuk ke dalam kategori penyakit kronis berbahaya, terutama jika sudah terjadi komplikasi. 
                <br></br>
                Penyebab Diabetes
                <br></br>
                Gula darah merupakan komponen penting dalam tubuh sebagai sumber energi agar fungsi tubuh lebih maksimal saat beraktivitas. Jumlah asupan gula harus disesuaikan dengan aktivitas harian kita.
                <br></br>
                Namun, yang menjadi masalah adalah saat tubuh mendapatkan asupan gula, sementara aktivitas fisik kita sangat terbatas. Kondisi inilah yang dapat menyebabkan penumpukan gula darah. Dalam jangka panjang, penumpukan gula darah dalam tubuh akan meningkatkan risiko diabetes.
                <br></br>
                Ada beberapa penyebab yang mengakibatkan tubuh gagal membakar gula yang ada dalam tubuh secara maksimal, di antaranya adalah:
                <br></br>
                1. Kurangnya aktivitas fisik.
                <br></br>
                2. Asupan gula yang terlalu tinggi.
                <br></br>
                3. Terganggunya respons tubuh terhadap insulin.
                <br></br>
                4. Berkurangnya produksi insulin oleh pankreas.
                <br></br>
                5. Kinerja insulin terhambat akibat adanya hormon lain.
                <br></br>
                Insulin sendiri merupakan hormon yang dihasilkan tubuh untuk membantu memaksimalkan penyerapan glukosa atau gula ke dalam sel-sel tubuh, untuk kemudian diolah menjadi sumber energi dan kelebihannya akan disimpan sebagai cadangan energi.
                <br></br>
                Jenis-jenis Diabetes
                <br></br>
                Penelitian yang dimuat dalam Introduction to Diabetes Mellitus membagi diabetes dalam tiga jenis, yakni:
                <br></br>
                1. Diabetes Tipe 1
                <br></br>
                Pada dasarnya, diabetes tipe 1 adalah gangguan autoimun, yakni kondisi ketika antibodi yang seharusnya bekerja melindungi tubuh terhadap infeksi, malah berbalik menyerang sel tubuh itu sendiri. 
                <br></br> 
                Dalam kasus diabetes tipe 1, yang dirusak adalah sel beta yang terdapat pada pankreas. Proses tersebut membuat rusaknya sel-sel beta yang akan memproduksi insulin. Belum diketahui apa penyebab antibodi menyerang sel beta pankreas. Namun, banyak pakar percaya jika faktor genetik dan infeksi virus tertentu merupakan penyebabnya.
                <br></br>  
                2. Diabetes Tipe 2
                <br></br>     
                Berbeda dengan penyebab diabetes tipe 1 yang merupakan akibat penurunan produksi insulin, pada diabetes tipe 2 produksi insulin berjalan normal. Namun, sensitivitas tubuh dalam merespons kadar gula darah menurun sehingga penggunaannya menjadi tidak maksimal.
                <br></br>        
                Umumnya kondisi ini lebih sering terjadi pada orang dewasa, terutama mereka yang sudah berusia di atas 30 tahun. Faktor gaya hidup, seperti kurang melakukan aktivitas fisik, stres, dan konsumsi makanan tinggi gula, memainkan peran penting dalam terbentuknya penyakit ini. Selain itu, faktor genetik dan obesitas yang tidak ditangani dengan baik, cukup berpengaruh dalam peningkatan risiko diabetes tipe 2. 
                <br></br> 
                3. Diabetes Gestasional
                <br></br>   
                Diabetes gestasional adalah penyakit diabetes yang umumnya bersifat sementara. Penyakit ini akan menyerang pada ibu hamil dan biasanya akan sembuh sendiri setelah melahirkan.
                <br></br>        
                Meski bisa terjadi kapan saja, namun penyakit ini biasanya mulai menyerang di minggu ke-24 usia kehamilan. Walaupun bisa sembuh sendiri, bukan berarti diabetes gestasional tidak berbahaya. Jika tidak ditangani dengan baik, penyakit ini bisa meningkatkan risiko bayi lahir dengan berat badan berlebih, kelahiran prematur, atau lahir dengan gula darah rendah atau hipoglikemia.
                <br></br>    
                Untuk ibu hamil, diabetes gestasional berpotensi menyebabkan komplikasi, seperti preeklamsia dan hipertensi. Selain itu, sang ibu pun berisiko terserang diabetes gestasional di kehamilan berikutnya, yang dapat meningkatkan potensi terkena diabetes tipe 2 pasca melahirkan.
                
                </p>
                <button class="like-button">&#x1F44D;300</button>
        </div>
        <div class="rectangle">
            <img src="../assets/profile.png" alt="profile" class="user-image">
            <h2>Devan Valencio</h2>
            <p class="clock">1:55 PM</p>
            <p class="answer">Terima kasih dokter informasinya</p>
            <button class="like-button">&#x1F44D;0</button>
        </div>
    </div>
</body>
</html>