<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unanswered</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(function(){
            $("#navbar").load("../include/navbar.html"); 
        });
    </script>
    <link rel="stylesheet" href="../styles/unanswered.css">
    <link rel="shortcut icon" href="../assets/Icon.png" type="image/x-icon">
    <div id="navbar"></div>
</head>
<body>
    
    <section>
        <div id="container">
            <div id="container-header">
                <label for="find-threads">
                    <strong>Find Unanswered Threads</strong>
                </label>
                <br><br>
                <form action="#" method="get" id="search">
                    <input type="text" id="search-bar" placeholder="Search threads...">
                    <input type="submit" id="search-button" value="Search">
                </form>
            </div>

            <br><br>

            <div id="container-body">
                <label for="unanswered">
                    <strong>Unanswered Threads</strong>
                </label>
            </div>
            <table id="table">
                <thead>
                    <tr id="table-header">
                        <th colspan="4" style="padding-top: 1%; padding-bottom: 1%;">Thread Detail</th>
                        <th colspan="1" style="padding-top: 1%; padding-bottom: 1%;">Answer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="content" style="margin-top: 1vw;">
                        <td><img src="../assets/profile.png" alt="Profile Picture" class="profile-picture"></td>
                        <td style="color: rgb(60, 157, 250);"><p>Saya Covid, hidung saya mampet dok, bagaimana menghilangkannya?<br> Devan Valencio (Male, 20 y.o), 2 mins ago</p></td>
                        <td>
                            <div class="vote-rectangle">
                                <p>100 Votes</p>
                            </div>
                        </td>
                        <td>
                            <div class="view-rectangle">
                                <p>124 Views</p>
                            </div>
                        </td>
                        <td><p> - </p></td>
                    </tr>

                    <tr class="content">
                        <td><img src="../assets/no profile.png" alt="Profile Picture" class="profile-picture"></td>
                        <td style="color: rgb(60, 157, 250);"><p>Saya diare dok, tolong kasih obat rekomendasi.<br> Fanny (Female, 43 y.o), 15 mins ago</p></td>
                        <td>
                            <div class="vote-rectangle">
                                <p>200 Votes</p>
                            </div>
                        </td>
                        <td>
                            <div class="view-rectangle">
                                <p>354 Views</p>
                            </div>
                        </td>
                        <td> <p> - </p> </td>
                    </tr>

                    <tr class="content">
                        <td><img src="../assets/profile.png" alt="Profile Picture" class="profile-picture"></td>
                        <td style="color: rgb(60, 157, 250);"><p>Saya Meriang, butuh obat apa saja ya? Tolong dijawab<br> Devan Valencio (Male, 20 y.o), 40 mins ago</p></td>
                        <td>
                            <div class="vote-rectangle">
                                <p>90 Votes</p>
                            </div>
                        </td>
                        <td>
                            <div class="view-rectangle">
                                <p>250 Views</p>
                            </div>
                        </td>
                        <td> <p> - </p> </td>
                    </tr>

                    <tr class="content">
                        <td><img src="../assets/profile2.jpg" alt="Profile Picture" class="profile-picture"></td>
                        <td style="color: rgb(60, 157, 250);"><p>Kalau divonis HIV, bagaimana cara menyembuhkannya?<br> Vincent (Male, 20 y.o), 1 hours ago</p></td>
                        <td>
                            <div class="vote-rectangle">
                                <p>1467 Votes</p>
                            </div>
                        </td>
                        <td>
                            <div class="view-rectangle">
                                <p>2309 Views</p>
                            </div>
                        </td>
                        <td> - </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

</body>
</html>