#discussion-container {
    position: absolute;
    width: 1393px;
    height: 645px;
    left: 118px;
    top: 108px;
}

.rectangle-19 {
    position: absolute;
    width: 1359px;
    height: 237px;
    left: 1px;
    top: 38px;
    background: #F2F2F2;
}

.rectangle-22 {
    position: absolute;
    width: 1284px;
    height: 183px;
    left: 33px;
    top: 60px;
    background: #FFFFFF;
    overflow: hidden; 
}

#write-text {
    position: absolute;
    width: 222px;
    height: 23px;
    left: 89px;
    top: 84px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    color: #000000;
    border:none;
    outline:none;
}

#line-4 {
    position: absolute;
    width: 1284px;
    height: 0px;
    left: 0px;
    top: 111px;
    border: 1px solid #000000;
    transform: rotate(-179.99deg);
}

#post-button {
    position: absolute;
    width: 13%;
    height: 8%;
    left: 85%;
    top: 75%;
    cursor: pointer;
}

.rectangle-23 {
    position: absolute;
    width: 115px;
    height: 27px;
    background: #3C8AFF;
}

#post {
    position: absolute;
    width: 185px;
    height: 26px;
    left: 43px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

#image-5 {
    position: absolute;
    width: 189px;
    height: 65px;
    left: 53px;
    top: 169px;
    background: url(image.png);
}

#ask-question {
    position: absolute;
    width: 251px;
    height: 26px;
    left: 5px;
    top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
}



.user-image {
    width: 16px;
    height: 15px;
}

#imageItalic {
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 990px; /* Adjust the left position as needed */
    top: 10px; /* Adjust the top position as needed */
}

#imageBold {
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 1020px; /* Adjust the left position as needed */
    top: 10px; /* Adjust the top position as needed */
}
#imageUnderline {
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 960px; /* Adjust the left position as needed */
    top: 11px; /* Adjust the top position as needed */
}

#imageAttachment {
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 930px; /* Adjust the left position as needed */
    top: 10px; /* Adjust the top position as needed */
}

body, html {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#background-image {
    position:absolute;
    width:100%; 
    height:100%;
    background-size:cover;
    overflow-y: scroll;
}


