section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 2vw;
  margin-left: -20%;

}

.profile-picture {
  width: 50%;
  height: 50%;
  margin-bottom: 2vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 200%;
  height: 100%;
  margin-top: 2vw;
  margin-left: -10%;
}

.container-header {
  display: flex;
  width: 100%;
}

#search {
  display: flex;
  flex-direction: row;
  width: 200%;
}

#table {
  display: table;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 200%;
  height: 100%;
  margin-top: 2vw;
  border-collapse: collapse;
}

thead {
  background-color: rgb(41, 204, 254);
  width: 100%;
  padding: 1%;
  border: 1px solid white;
}

tbody {
  background-color: rgb(242, 242, 242);
  width: 100%;
  padding: 1%;
  border: 1px solid white;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid white;
  margin-bottom: 1vw;
}

td {
  width: 50%;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

#search-bar {
  width: 80%;
  padding: 10px;
  font-size: 1.1vw;
  border: 1px solid #ccc;
  border-radius: 1.5vw 0 0 1.5vw;
}

#search-button {
  width: 20%;
  padding: 10px;
  font-size: 1.1vw;
  border: 1px solid #ccc;
  border-radius: 0 1.5vw 1.5vw 0;
  cursor: pointer;
  background-color: rgb(15, 143, 251);
  color: #fff;
}

#search-button:hover {
  background-color: white;
  color: black;
}

#table-header {
  display: inline-table;
  text-align: center;
  width: 100%;
}

.vote-rectangle, .view-rectangle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 50%;
  padding-top: 1vw;
  padding-bottom: 1vw;
  border: 1px solid black;
}

.vote-rectangle {
  background-color: rgb(41, 204, 254);
}

.view-rectangle {
  background-color: rgb(253, 162, 92);
}